/* About pages
 */
#members .member {
    width: 182px; margin-bottom: 5px; cursor: pointer;
    padding: 5px; position: relative; }
#members .member:hover {
    background: #F4EFA6; }
#members .member .img-wrap {
    width: 182px; height: 182px; overflow: hidden;
    position: relative; }
#members .member img {
    width: 182px; min-height: 182px; }
#members .member.callout {
    cursor: default; }
#members .member.callout .img-wrap {
    z-index: 30; }
#members .member h3 {
    margin: 0; position: absolute; bottom: 0px;
    padding: 3px 8px; left: 0; background: rgba( 0, 0, 0, 0.8 );
    color: #fff; word-wrap: break-word; max-width: 100%;
    font-size: 16px; }
#members .member.callout .img-wrap h3 {
    display: none; }
#members .member .bio {
    font-size: 14px; line-height: 20px; }
#members .member.callout .bio a {
    color: #c790ff; }

#member-overlay {
    position: fixed; display: none; top: 0; bottom: 0;
    left: 0; right: 0; z-index: 15; cursor: pointer;
    background: rgba( 0, 0, 0, 0.3 ); }
#member-callout {
    padding: 10px; background: #111; width: 480px;
    min-height: 182px; position: absolute; z-index: 20;
    top: -5px; left: -5px; display: none; }
#member-callout.right-align {
    left: auto; right: -5px; }
#member-callout .name,
#member-callout .bio {
    padding-left: 200px; color: #ddd; }
#member-callout.right-align .name,
#member-callout.right-align .bio {
    padding-right: 200px; padding-left: 0; }
#member-callout .name {
    font-weight: bold; margin-bottom: 10px; }