/* Elements
 */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 16px;
    padding-top: 5rem;
    font-family: Asap, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body.with-pagenav {
    padding-top: 7rem;
}
h1, h2, h3 {
    font-weight: normal;
    margin: 0 0 0.625rem;
}
p {
    line-height: 1.5rem;
}
a {
    color: #333;
}
a:hover {
    color: #6905cd;
}
fieldset {
    border: none;
    padding: 1rem;
    background: #f1f1f1;
    border-radius: 0.125rem;
    box-shadow: 0 0.0625rem 0.125rem #aaa;
}
fieldset legend h2 {
    font-size: 1.125rem;
    background: #e1e1e1;
    text-transform: uppercase;
    padding: 0.33rem 0.625rem;
    font-family: 'Share Tech Mono', monospace;
}
blockquote {
    margin: 0 2rem;
    padding-left: 1rem;
    border-left: 0.25rem solid #e1e1e1;
}
blockquote blockquote {
    margin: 0;
    border: none;
    padding: 0;
}

/* Base
 */
.page {
    width: 56rem;
    margin: 1.5rem auto 3.75rem;
}
.error-page {
    width: 56rem;
    margin: 1.5rem auto 7.5rem;
}
.page h3 {
    padding: 0;
    font-weight: bold;
    margin-bottom: 0.625rem;
}
.page.static h4 {
    font-weight: normal;
    margin: 0 0 0.625rem;
}
.page.static h4 i {
    top: 0.0625rem;
    position: relative;
    margin-right: 0.3125rem;
}
.page.static p {
    padding: 0;
    margin: 0 0 1.25rem;
}
