/* Events pages
 */
.faq dt {
    padding-left: 30px; position: relative; margin-bottom: 5px;
    font-weight: bold; }
.faq dd {
    padding-left: 30px; margin-left: 0; position: relative; }
.faq dt span,
.faq dd span {
    position: absolute; left: 0px; }

/* Lists of events
 */
.full-event {
    margin-right: 20px; border-bottom: 1px solid #ddd; }
.full-event:last-child {
    border-bottom: none; }
.full-event .banner-wrap {
    width: 100%; height: 300px; background-size: cover; }
.full-event .side-date {
    width: 150px; left: -170px; text-align: right; }
.full-event .side-date .day-month {
    font-weight: bold; font-size: 28px; margin-bottom: 2px; }
.full-event .side-data .day-name,
.full-event .side-data .time {
    color: #999; }

.side-event {
    background: #eee; padding: 10px; border-radius: 4px; }
.side-event .banner-wrap {
    width: 100%; height: 120px; background-size: cover;
    border-radius: 3px; }

.archive-event {
    width: 31%; margin-right: 3.5%; float: left; margin-bottom: 50px; }
.archive-event:nth-child(3n) {
    margin: 0; }
.archive-event .banner-wrap {
    width: 100%; height: 200px; background-size: cover; }


/* Calendar
 */
#sidebar .cal {
    margin: 0 auto; }
#sidebar .cal .clndr .clndr-controls {
    display: block; width: 100%; height: 32px; line-height: 32px;
    background: #e2db66; color: #7E7825; text-transform: uppercase; }
#sidebar .cal .clndr .clndr-controls .clndr-previous-button {
    float: left; width: 10%; text-align: left; cursor: pointer;
    -webkit-user-select: none; -moz-user-select: none;
    -ms-user-select: none;
    text-align: center; font-size: 24px; }
#sidebar .cal .clndr .clndr-controls .clndr-previous-button:hover {
    background-color: #c6bf55; }
#sidebar .cal .clndr .clndr-controls .month {
    float: left; width: 80%; text-align: center; }
#sidebar .cal .clndr .clndr-controls .clndr-next-button {
    float: left; width: 10%; text-align: right; cursor: pointer;
    -webkit-user-select: none; -moz-user-select: none;
    -ms-user-select: none;
    text-align: center; font-size: 24px; }
#sidebar .cal .clndr .clndr-controls .clndr-next-button:hover {
    background-color: #c6bf55; }
#sidebar .cal .clndr .clndr-grid {
    text-align: center; display: inline-block; }
#sidebar .cal .clndr .clndr-grid .header-day {
    float: left; width: 14.2857%; height: 32px; background: #f4efa6;
    line-height: 32px; color: #7E7825; }
#sidebar .cal .clndr .clndr-grid .day {
    float: left; width: 14.2857%; height: 32px; line-height: 32px;
    background: #f1f1f1; color: #777; }
#sidebar .cal .clndr .clndr-grid .day.event {
    background-color: #ddd; color: #555; }
#sidebar .cal .clndr .clndr-grid .day.today {
    background-color: #cbaee8; color: #fff; }
#sidebar .cal .clndr .clndr-grid .empty,
#sidebar .cal .clndr .clndr-grid .adjacent-month {
    float: left; width: 14.2857%; height: 32px; color: #ccc; }
#sidebar .cal .clndr .clndr-today-button {
    width: 100%; text-align: center; cursor: pointer; }
#sidebar .cal .clndr .clndr-today-button:hover {
    background-color: #ddd; }

#sidebar .cal .event-listing-title {
    text-transform: uppercase; margin-top: 15px;
    border-bottom: 1px solid #eee; margin-bottom: 15px;
    padding-bottom: 5px; }
#sidebar .cal .no-events {
    color: #999; }
#sidebar .cal .event-image {
    width: 100%; overflow: hidden; max-height: 135px;
    background-size: cover; }

/* ASCII page
 */
pre.ascii {
    font-family: "courier new", monospace; font-size: 12px;
    line-height: 100%; color: #000; }
#ascii-wrap {
    width: 980px; margin: 0 auto; }