/* Carousel
 */
#hero {
    position: relative; height: 33rem; }
#hero .major {
    width: 33.333%; float: left; }
#hero .box {
    background-size: cover; height: 100%;
    box-sizing: border-box; position: relative;
    background-position: center center;
    display: block; }
#hero .minor {
    width: 33.333%; float: left; }
#hero .minor.box {
    width: 33.333%; height: 50%;
    border-left: 4px solid #fff; }
#hero .minor.box.top-border {
    border-top: 2px solid #fff; }
#hero .minor.box.bottom-border {
    border-bottom: 2px solid #fff; }
#hero .box h1 {
    position: absolute; bottom: 0;
    background-color: rgba( 0, 0, 0, 0.5 );
    color: #fff; font-size: 1.33rem;
    margin-bottom: 0; text-shadow: 1px 1px 0 #111;
    padding: 0.35rem 0.5rem; width: 100%; }
#hero .box span.badge {
    display: inline-block;
    font-size: 0.75rem; color: #fff;
    background-color: rgba( 0, 0, 0, 0.75 );
    padding: 0.15rem 0.5rem;
    position: absolute; top: -1.15rem;
    left: 0; }

#cta {
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border-top: 0.5rem solid rgba(200, 200, 200, 0.5); }
#cta .box {
    float: left; width: 50%;
    padding: 2.25rem 0 3rem; }
#cta .box:last-child {
    border-left: 1px solid #ccc; }
#cta .button {
    height: 2.25rem; padding: 0 0.75rem;
    line-height: 2.2rem; display: inline-block; }