/* Posts
 */
#post.page #banner-wrap {
    overflow: hidden; width: 960px; height: 420px; background-size: cover; }
#post.page #body {
    line-height: 150%; }
#post span.price {
    margin-right: 5px; background: #ddd; padding: 2px 5px; }
div.external-url a {
    vertical-align: middle; }
div.external-url i.fa-facebook-square {
    color: #3b5998; vertical-align: middle; }